<h1>Welcome to Our Music Box!</h1>

<form action="/artist-search" method="GET">
  <input type="text" name="artist" placeholder="Enter artist name" required>
  <button type="submit">Search</button>
</form>